/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

/* MAIN */

main, p, span, button, a {
  font-family: 'Baloo 2', arial, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', arial, sans-serif  !important;
  font-weight: 450 !important;
  font-style: normal  !important;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.no-transition {
  transition: none !important;
}

.no-transition.collapsing {
  transition: none !important;
  display: none;
}